.main{
    width: 90%;
    max-width: 600px;
    min-width: 240px;
    margin: auto;
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 50px;
    height: 12vh;
    min-height: 100px;
}
.main>p{
    margin: 0;
    font-size: clamp(1.3rem,5vw,2rem);
    border-top: 1px solid var(--navbar-light);
}
.buttons{
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;

}
.prev,.next{
    height: 40px;
    font-size: 1rem;
    color: var(--dark-text);
    font-weight: 900;
    background-color: var(--navbar-light);
    border: none;
  
    border-radius:5px;
}
.prev,.next{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover{
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.icon{
    height: 30px;
}